<nav>
    <h1>
        <a>
            <img src="assets/logo.svg" alt="Logo">
            <span>Readme Generator</span>
        </a>
    </h1>
    <ul>
        @for (option of options; track options) {
            <li>
                <a [routerLink]="option.route">
                    @if (option.icon) {
                        <img [src]="option.icon" [alt]="option.name">
                    }
                    <span>
                        {{ option.name }}
                    </span>
                </a>
            </li>
        }
    </ul>
</nav>