nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
}

h1 > a > img {
    margin-right: 0.5rem;
}

img {
    margin-right: 0.2rem;
}

ul {
    display: inherit;
    gap: 1.3rem;
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
    align-items: center;
}

a:hover {
    cursor: pointer;
}

li > a:hover {
    text-decoration: underline;
}